.pic , .text , .video {
    display:none;
}
@media screen and (min-width: 300px) and (orientation:landscape) {
    .pic {
        display:initial;
    }
}

@media screen and (max-width: 500px) {
    .video {
        display:initial;
    }
} 
@media screen and (aspect-ratio:4/3) {
    .text {
        display:initial;
    }
}

